.post-list {
    padding: 0 2rem;
    width: 100%;
    max-width: 800px;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
}

.post-card {
    border: 1px solid #ccc;
    padding: 1rem;
    border-radius: 6px;
    background-color: var(--post-bg-color, #f9f9f9);
}


/* Add extra spacing to emphasize the separation */
.post-card:not(:first-child) {
    margin-top: 1.5rem;
}

.post-thumbnail {
    max-width: 100%;
    max-height: 300px;
    margin-top: 0.5rem;
    border-radius: 6px;
    object-fit: cover;
    display: block;
}

.post-video {
    width: 100%;
    max-height: 400px;
    margin-top: 0.5rem;
    border-radius: 6px;
}

.subreddit-avatar {
    width: 24px;
    height: 24px;
    border: 0.1rem solid #969494;
    border-radius: 50%;
    margin-right: 0.5rem;
    object-fit: cover;
}

.post-meta {
    display: flex;
    align-items: center;
    margin-bottom: 0.25rem;
    margin: 0.5rem 0;
}

.post-thumbnail,
.post-video {
    margin-top: 0.5rem;
    border-radius: 6px;
    max-width: 100%;
    object-fit: cover;
    display: block;
    margin: 1rem auto 0 auto;
}

.post-divider {
    margin: 2rem 0;
    border: none;
    height: 1px;
    background-color: #ddd;
}

body.dark .post-divider {
    background-color: #444;
}

.post-feed {
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
    padding-top: 4rem;/* Adjusted padding to account for the top bar height */
    width: 100%;
    box-sizing: border-box;
}

body.dark .post-list {
    border-color: #444;
}

.subreddit-title {
    text-align: center;
    margin-bottom: 1.5rem;
    font-size: 1.4rem;
}

.post-actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 0.75rem;
    font-size: .9rem;
    opacity: 0.85;
}

.comment-link,
.reddit-link {
    text-decoration: none;
    color: #646cff;
    display: flex;
    align-items: center;
    gap: 0.25rem;
    transition: color 0.2s ease;
}

.comment-link:hover,
.reddit-link:hover {
    color: #3d4fe7;
    text-decoration: underline;
}

body.dark .comment-link,
body.dark .reddit-link {
    color: #9ca3f5;
}

body.dark .comment-link:hover,
body.dark .reddit-link:hover {
    color: #c3caff;
}

.post-date {
    font-size: 0.8rem;
    color: #777;
    margin-left: 0.5rem;
    font-style: italic;
}

body.dark .post-date {
    color: #aaa;
}

@media (max-width: 600px) {
    .post-feed {
        padding-top: 18rem;
    }
}
